<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Form</title>
    <!--Remy Sharp Shim -->
    <!--[if lte IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" >
</script>
<![endif]-->
</head>
<body>
    <div id="container">
    <header>
        <img src="/static/lit.jpg" alt="Renaissance Quill">
        </header>
    <main>
        <form action="/story.html" method="post">
            <fieldset>
                <legend>We shall tell a tale...</legend>
                <label>Verb 1: </label> <input type="text" name="verb1"><br>
                <label>Verb 2: </label> <input type="text" name="verb2"><br>
                <label>Verb 3: </label> <input type="text" name="verb3"><br>
                <label>Verb 4: </label> <input type="text" name="verb4"><br>
                <label>Verb 5: </label> <input type="text" name="verb5"><br>
                <label>Verb 6: </label> <input type="text" name="verb6"><br>
                <label>Noun 1: </label> <input type="text" name="noun1"><br>
                <label>Noun 2: </label> <input type="text" name="noun2"><br>
                <label>Noun 3: </label> <input type="text" name="noun3"><br>
                <label>Noun 4: </label> <input type="text" name="noun4"><br>
                <label>Proper Noun 1: </label> <input type="text" name="common_noun1"><br>
                <label>Proper Noun 2: </label> <input type="text" name="common_noun2"><br>

                <label>Adverb 1: </label> <input type="text" name="adverb1"><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </main>



    </div>
</body>
